
div, section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_principal{
    color: red;
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
}

img{
    border: 1px solid black;
    margin: 2px;
}


/*=======================================================*/

.text_import{
    font-weight: bolder;
    color: darkblue;
}

#cont_cambio_state{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items:"flex-start"
}

#cont_cambio_state .cont_hacer{
    width: 40%;
    height: auto;
}

/*=====================================================*/

.title_count{
    color: green;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    font-family: fantasy;
    margin: 0;
}
/*===============================================*/


#juego_dado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
}

#juego_dado > div{
    margin: 0 10px;
    padding: 0px 10px;
    border: 2px solid black;
    width: auto;
}

#juego_dado div:nth-child(1){
    text-align: center;
    background-color: rgba(170, 124, 39, 0.6);
}

#juego_dado h5{
    margin: 0;
}
