
.navegador{
    width: 100%;
    min-height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 -10px 50px white;

    & ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        height: 80%;
        min-width: 200px;
        border-radius: 20px;
        margin: 5px;

        & li {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 100%;
            padding: 2px;
        }
    }

}

.link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    font-family: "Lumanosimo";
    font-weight: bold;
    color: rgb(2, 32, 32);
    transition: 0.5s all;
}

.link::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: black;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.link:hover::after{
    transform: scaleX(1);
}

.navegador > h2{
    font-weight: bolder;
    font-size: 2.5em;
    text-shadow: 5px 10px 10px rgb(1, 53, 1) ;
    margin: 5px;
}

@media (max-width:430px) {
    .navegador{
        flex-direction: column;
        padding: 20px 0;
    }
}

@media (max-width:300px) {
    .navegador ul{
        flex-direction: column;
        padding: 20px 0;
    }
}