.boton_contenedor{
    min-width: 50px;
    height: 100%;
    display: flex;
    flex: 1 1 ;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.boton_contenedor:hover{
    background-color: #5a01a7;
}

.operador{
    background-color: #00471b;
}

.operador:hover{
    background-color: #d14f12;
}
